.DS_Store
Example/Example.xcodeproj/xcuserdata/Blazej.xcuserdatad/xcschemes/Example.xcscheme
Example/Example.xcodeproj/xcuserdata/Blazej.xcuserdatad/xcschemes/xcschememanagement.plist
SwiftIconFont.xcodeproj/project.xcworkspace/xcuserdata/Blazej.xcuserdatad/UserInterfaceState.xcuserstate
SwiftIconFont.xcodeproj/xcuserdata/Blazej.xcuserdatad/xcschemes/xcschememanagement.plist
