.DS_Store
*.xcuserstate
Example/Example.xcodeproj/xcuserdata/Blazej.xcuserdatad/xcschemes/Example.xcscheme
Example/Example.xcodeproj/xcuserdata/Blazej.xcuserdatad/xcschemes/xcschememanagement.plist
SwiftIconFont.xcodeproj/xcuserdata/Blazej.xcuserdatad/xcschemes/xcschememanagement.plist